  <table class="table">
    <tbody>
      <tr>
        <td ng-show="reservations.length">
          <iframe ng-src="http://www.youtube.com/embed/M7lc1UVf-VE" width="550" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </td>  
      </tr>
      <tr>
        <th>
          <a ng-click="reservations.length = 'true'">
            On
          </a>
          <a ng-click="reservations.length = ''">
            Off
          </a>
        </th>
      </tr>
    </tbody>
  </table>
