  <div class="hero-unit">          
    <h3> Education </h3>
    <ul>
      <li>
        <h4> University of Utah 2007 </h4>
        <p> Bachelor of Art, Mass Communication </p>
        <p> Business Administration Minor </p>
      </li>
      <li>
        <h4> Salt Lake Community College 2003 </h4>
        <p> Associates Degree </p>
      </li>
      <li>
        <h4> Study Abroad 2006 </h4>
        <p> Studied Italian Language and culture in Siena, Italy </p>
      </li>
      <li>
        <h4> Aptitudes </h4>
        <p> Fluent in English and Spanish, spoken and written </p>
        <p> Knowledge of Final Cut Pro, Adobe Premier, InDesign, Pages, Joomla, Wordpress, Drupal </p>
      </li>
    </ul>
  </div>
