  <div class="hero-unit">          
    <h3> Experience </h3>
      <ul>
        <li>
          <h4> Community Relations Specialist, Centro de la Familia de Utah </h4>
          <i> February 2009 - Present</i>
        </li>
        <li>
          <h4> Producer and Host, Acceso Utah </h4>
          <i> May 2013 - Present</i>
        </li>
        <li>
          <h4> Producer and Host, Hola Hawai'i </h4>
          <i> October 2011 - February 2012 </i>
        </li>
        <li>
          <h4> Contributing Writer, Hawaii Hispanic News </h4>
          <i> February 2011 - October 2012 </i>
        </li>
        <li>
          <h4> Staff Writer, Intermountain Catholic </h4>
          <i> February 2011 - October 2012 </i>
        </li>
      </ul>
  </div>
